<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">        
      <div class="nav_container">
         <nav class="nav-menu-item">
            <i class="nav-menu-item">
              <a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">  {{site.blog_button.title}}
              </a>
            </i>
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
      </div>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
			{% include backToTop.html %}
        </div>
		{% include footer.html %}
    </div>
    
    {% include external.html %}
    
  </body>
	<script src="{{ " /js/smooth-scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
	<script type="text/javascript">
		  smoothScroll.init({
			speed: 500, // Integer. How fast to complete the scroll in milliseconds
			easing: 'easeInOutCubic', // Easing pattern to use
			offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
		  });
    </script>
</html>
